# Ignorar arquivos de configuração sensíveis
.env

# Ignorar banco de dados local do MySQL
database/

# Ignorar arquivos e pastas geradas pelo Docker
docker-compose.override.yml
*.pid
*.log

# Ignorar arquivos de cache do sistema e IDEs
node_modules/
vendor/
*.swp
*.swo
.DS_Store
Thumbs.db
